body{
    background-color: lightblue;
}
header{
    background-color: white;
    display: flex;
    justify-content: right;
    gap:.5em;
}

h2{
    padding: 15px;
}

img{
 border-radius:80%;
}
.image{
    display: flex;
    gap:1em;
}
input{
    margin: 5px;
}

button{
    margin: 5px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.form{
    width:250px;
    height:275px;
    background-color: white;
    margin:0 auto; 
}
