body{
    background-color: lightblue;
}
header{
    background-color: white;
    display: flex;
    justify-content: right;
    gap:.5em;
}

h2{
    padding: 10px;
}

img{
 border-radius:80%;
}
.image{
    display: flex;
    gap:1em;
}
.form{
    width:250px;
    height:200px;
    background-color: white; 
}
