body{
    background-color: lightblue;
}
header{
    background-color: white;
    display: flex;
    justify-content: right;
    gap:.5em;
}

img{
 border-radius:80%;
}

.image{
    display: flex;
    gap:1em;
}
.form{
    width:250px;
    height:200px;
    background-color: white;
    
    
    
}

.entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3em;
}